// custom styles used for presentation of Swisscss Army Knife
.row.display {
    background: #eee;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
}

.display .column, .display .columns {
    background-color: rgba(gray,0.1)
}

ul.menu {
    margin-bottom: 1rem;
}