// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  // https://stackoverflow.com/questions/18679020/border-around-tr-element-doesnt-show
  border-collapse: collapse;
  width: 100%;
  border: 0;
}

tr {
  border-bottom: 1px solid $color-border;
}

td { 
    border: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
